@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sortableFieldContainer {
    @apply my-1 p-1 flex items-center gap-x-2 rounded-md duration-200 md:flex-wrap hover:bg-white/5;
  }
}

.cubic-bezier {
  transition: opacity .6s cubic-bezier(0, -0.02, 0, 0.93), transform .6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* bg svg */
.bg-svg-starshower-black-thick {
  background-image: url(/svg/bg/starshower-pattern-black-thick.svg);
}

.bg-svg-starshower-black {
  background-image: url(/svg/bg/starshower-pattern-black.svg);
}

.bg-svg-starshower-blue {
  background-image: url(/svg/bg/starshower-pattern-blue.svg);
}

.bg-svg-gradi-blue {
  background-image: url(/svg/bg/bg-gradi.svg);
}

.bg-svg-point-blue {
  background-image: url(/svg/bg/bluepoints-pattern.svg);
}

.bg-svg-point-pink {
  background-image: url(/svg/bg/pinkpoints-pattern.svg);
}

.bg-svg-edge-blue {
  background-image: url(/svg/bg/edge-blue-pattern.svg);
}

.bg-svg-edge-orange {
  background-image: url(/svg/bg/edge-orange-pattern.svg);
}

.bg-svg-glitch {
  background-image: url(/svg/bg/glitch-pattern.svg);
}

.bg-svg-leaves {
  background-image: url(/svg/bg/leaves-pattern.svg);
}

.bg-svg-leaves {
  background-image: url(/svg/bg/leaves-pattern.svg);
}

.bg-svg-scribble {
  background-image: url(/svg/bg/scribble-pattern.svg);
}

.bg-svg-spot {
  background-image: url(/svg/bg/spot-pattern.svg);
}

.bg-svg-spot {
  background-image: url(/svg/bg/spot-pattern.svg);
}


/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/


/* 
background-image: 
      radial-gradient(at top left, #000, transparent),
      radial-gradient(at top right, #13437F, transparent),
      radial-gradient(at bottom right, #000, transparent),
      radial-gradient(at bottom left, #081C35, transparent);
}
 */